#PhoneAreaCode .phone_area_code .am-input-extra::after {
    content: "";
    position: absolute;
    width: .2rem;
    height: .3rem;
    margin-left: .15rem;
    background: url('../../assets/right_arrow.png') no-repeat;
    background-size: 100% 100%;
}

#PhoneAreaCode .pac_list {
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    line-height: .8rem;
    max-height: 400px;
    overflow: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
}

#PhoneAreaCode .pac_item {
    position: relative;
    overflow: hidden;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
}

#PhoneAreaCode .pac_item__area {
    float: left;
}

#PhoneAreaCode .pac_item__code {
    float: right;
}