#Login {
    padding: .4rem 0 .2rem;
}

#Login .phone_area_code,
#Login .pac_list {
    width: 95%;
    margin: 0 auto;
}

#Login .phone_area_code {
    border-radius: .1rem;
    height: .8rem;
    min-height: 40px;
}

#Login .phone_area_code .am-list-line {
    padding-right: 30px;
    border: none;
}

#Login .phone_area_code .am-input-label,
#Login .phone_area_code .am-input-control,
#Login .phone_area_code .am-input-extra,
#Login .pac_item {
    font-size: 12px;
}

#Login .phone_area_code .am-input-extra {
    position: relative;
    overflow: initial;
    line-height: .3rem;
    color: #000;
}

#Login .phone_area_code .am-input-extra::after {
    content: "";
    position: absolute;
    width: .2rem;
    height: .3rem;
    margin-left: .15rem;
    background: url('../../../assets/right_arrow.png') no-repeat;
    background-size: 100% 100%;
}

#Login .pac_list {
    background-color: #fff;
    line-height: .8rem;
    max-height: 400px;
    overflow: auto;
}

#Login .pac_item {
    position: relative;
    overflow: hidden;
    padding: 0 15px;
    border-bottom: 1PX solid #ddd;
}

#Login .pac_item__area {
    float: left;
}

#Login .pac_item__code {
    float: right;
}