#Login {
    padding: .4rem 0 .2rem;
}

#Login .lockImg{
    background-image: url('../../../assets/lock_icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: .5rem;
    width: .5rem;
    max-width: 25px;
    max-height: 25px;
}