// 测试
#Error{
    .scss-test{
        font-size:24px;
        p{
            color: #f00;
            span{
                color: #0f0;
            }
        }
        span{
            color: #00f;
        }
    }
}